:root {
    --light-mode-color-1: white;
    --light-mode-color-2: black;
}

[data-theme="dark"] {
    --light-mode-color-1: black;
    --light-mode-color-2: white;
} 

body {
    margin: 0;
}
* {
    font-family: 'Allerta Stencil', sans-serif;
}

.flex {
    display: flex; 
    justify-content: center;
}

.grid {
    display: grid;
}

#page-container {
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
}

#header {
    height: 100px;
    font-size: 30px;
    width: 100%;
}

#main {
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    align-items: center;
}

#currentPlayerDisplay {
    font-size: 30px;
    margin: 0;
    margin-bottom: 15px;
}

#gameboard {
    height: 55vh;
    width: 55vh;
    grid-template-rows:repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.cube {
    border: 1px solid var(--light-mode-color-2);
    border-radius: 10px;
    margin: 5px;
    font-size: 10vh;
    align-items: center;
    color: var(--light-mode-color-2);
    background-color: var(--light-mode-color-1);
    cursor: pointer;
}

.cube:hover, .cube:active {
    transform: scale(1.05);
}

#footer {
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
}


/* Winning Page Screen */

#winningMessageElement {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    z-index: 1;
    justify-content: center;
    align-content: center;
    justify-items: center;
    margin: 0;
}

#winningMessageElement.show {
    display: grid;
    width: 100vw;
    height: 100vh;
}

#winningMessageElement>h1 {
    color: var(--light-mode-color-1);
    font-size: 50px;
    text-align: center;
}

#winningMessageElement>button {
    width: 150px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
}

/* Initial Form Screen */

#initialForm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-mode-color-1);
    color: var(--light-mode-color-2);
    display: none;
    z-index: 1;
    justify-items: center;
    margin: 0;
}

#initialForm.show {
    display: grid;
    grid-template-rows: 10vh 30vh 10vh 20vh 20vh;
    width: 100%;
    height: 100%;
}

.formBox {
    border: 2px solid var(--light-mode-color-2);
    height: 16vh;
    min-height: 125px;
    padding: 10px
}

.formBox-item {
    margin-bottom: 10px;
}

#player1 {
    align-self: end;
}

.playerTitle {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

#initialFormTitle {
    text-align: center;
}

#initialFormTitle>h1 {
    font-size: 50px;
    margin-bottom: 0%;
}

#initialFormTitle>h2 {
    margin: 0;
}

#initialForm button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: var(--light-mode-color-2);
    color: var(--light-mode-color-1);
    font-size: 20px;
    cursor: pointer;
}